html, body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: #14181c;
}

html, a {
	color: #98AABC;
}

h1, h2, h3 {
	color: #EEE;
}

#button-container {
	margin-top: 16px;
}

#next {
	float: right;
}

.pure-button {
	background: #778899;
}

.rating {
	display: inline-block;
	width: 75px;
}

rect.highlight {
    stroke: #72D147;
}

#credits {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 4px;
}

#credits, #credits a {
	color: #333B42;	
}

#stats {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    background: #3D4852;
    border-radius: 3px;
}

#stats .border {
	width: 1px;
	height: 70px;
	background: #333C44
}

#stats > div {
	text-align: center;
	width: 200px;
}
#stats p, #stats h3 {
	margin: 8px;
}

p, h1, h2, h3 {
	text-align: center;
}

ul {
	list-style: none;
}